<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>new Nobel E-Commerce account</title>
    {{!-- <link href="./asset/css/all.css" rel="stylesheet" /> --}}
    <style>
         {{css}}
    </style>
</head>

<body>
    <div class='header'> Nobel E-Commerce </div>
    <div class='container'>
        <img class='logo' src='https://static.thenounproject.com/png/90131-200.png' alt='Nobel E-Commerce logo' />
        <p class='message'>
            Hi
            <b>{{fullName}}</b>, congratulation! We have created new Nobel E-Commerce account for you.
        </p>
        <h1 class='password'>username: <b>{{username}}</b></h1>
        <h1 class='password'>password: <b>{{password}}</b></h1>
        <p class='code'>This is your new Nobel E-Commerce account.<strong></strong> do not give this username and
            password to any one. Thank you for being with us!
            </strong></p>
        <div class='regards'>
            <p> Nobel E-Commerce! </p>
        </div>
        <a class='button' href='#'>Login Now</a>
      {{!-- {% comment %} <a class="button" href="#">Reset your password now</a> {% endcomment %} --}}
    </div>
    <footer>
        &copy; Nobel E-Commerce
    </footer>
</body>

</html>