<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Security alert from Nobel E-Commerce</title>
    <link href="./asset/css/all.css" rel="stylesheet" />
    <style>
        {{css}} 
    </style>
</head>

<body>
    <div class='header'> Nobel E-Commerce </div>
    <div class='container'>
        <img class='logo' src='https://static.thenounproject.com/png/90131-200.png' alt='Nobel E-Commerce logo' />
        <p class='message'>
            Hi
            <b>{{fullName}}</b>, you have successfully changed your Nobel E-Commerce account's credential.
        </p>
        <p>
            <strong>You didn't done this?<strong>
           please <a href='#'><label  class="textLink">change</label></a>
           your password now።
          </p>
        <div class='regards'>
            <p> Nobel E-Commerce! </p>
        </div>
        <a class='button' href='#'>Login Now</a>
    </div>
    <footer>
        &copy; Nobel E-Commerce
    </footer>
</body>

</html>