<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Verification code from Nobel E-Commerce</title>
    {{!-- <link href="./asset/css/all.css" rel="stylesheet" /> --}}
    <style>
        {{css}}
    </style>
</head>

<body>
    <div class='header'> Nobel E-Commerce </div>
    <div class='container'>
        <img class='logo' src='https://static.thenounproject.com/png/90131-200.png' alt='Nobel E-Commerce logo' />
        <p class='message'>
            Hi
            <b>{{fullName}}</b>, we received password reset on your Nobel E-Commerce account.
        </p>
        <h1 class="password"><b>{{code}}</b></h1>
        <p class="code">Enter this code to complete </p>
        <p class="code timer">This code will be expired after 5 minutes</p>
        <p>
            If you don't ask for this code, someone might be trying to take your account.
          <strong>  Don't pass or give this code to anyone!</strong>
            Thank you for helping us, to keep your account safe.
        </p>
        <div class='regards'>
            <p> Nobel E-Commerce! </p>
        </div>
        <a class='button' href='#'>Login Now</a>
    </div>
    <footer>
        &copy; Nobel E-Commerce
    </footer>
</body>

</html>